@import url("https://fonts.googleapis.com/css2?family=Koh+Santepheap:wght@100;300;400;700;900&display=swap");
:root {
  --sp-xs: 0.25rem; /* Extra Small spacing (4px) */
  --sp-sm: 0.5rem; /* Small spacing (8px) */
  --sp-md: 1rem; /* Medium spacing (16px) */
  --sp-lg: 1.5rem; /* Large spacing (24px) */
  --sp-xl: 2rem; /* Extra Large spacing (32px) */

  --fs-xs: 0.75rem; /* Extra Small font size (12px) */
  --fs-sm: 0.875rem; /* Small font size (14px) */
  --fs-md: 1rem; /* Medium font size (16px) */
  --fs-lg: 1.25rem; /* Large font size (20px) */
  --fs-xl: 1.5rem; /* Extra Large font size (24px) */

  --color-primary: #040d12;
  --color-secondary: #183d3d;
  --color-tertiary: #699484;
  --color-quaternary: #93b1a6;

  --color-warning: #eeb200b0;
  --color-warning-dark: #d19d00;
  --color-danger: #b40012aa;
  --color-danger-light: #d10015;

  --br-sm: 0.25rem; /* Small border radius (4px) */
  --br-md: 0.5rem; /* Medium border radius (8px) */
  --br-lg: 0.75rem; /* Large border radius (12px) */
}

/* General Styles */
body {
  margin: 0;
  padding: 0;
  background-color: var(--color-primary);
  color: var(--color-quaternary);
  font-family: "Koh Santepheap", serif;
  font-size: var(--fs-md);
  font-weight: 500;
}

/* Header Styles */
header {
  background-color: var(--color-secondary);
  padding: var(--sp-md);
}

nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.nav-link {
  color: var(--color-primary);
  text-decoration: none;
  font-size: var(--fs-sm);
  font-weight: 700;
  padding: var(--sp-sm) var(--sp-md);
  border-radius: var(--br-sm);
  background-color: var(--color-quaternary);
}

.nav-link:hover {
  background-color: var(--color-tertiary);
}

/* Main Section */
main {
  padding: var(--sp-lg);
}

.section {
  max-width: 1200px;
  margin: auto;
}

.heading {
  text-align: center;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--sp-lg);
  width: 100%;
  margin-bottom: var(--sp-lg);
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full page height */
}

.no-products {
  display: flex;
  align-items: center;
  gap: var(--sp-sm);
}

.no-products p {
  margin: 0;
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; 
  width: 275px;
  background-color: var(--color-secondary);
  border-radius: 0 0 var(--br-sm) var(--br-sm);
  box-shadow: 0 2px 10px rgba(255, 255, 255, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.product-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.product-content {
  width: 100%;
}

.product-details {
  text-align: center;
  margin-top: var(--sp-sm);
}

.product-name {
  font-size: var(--fs-md);
  font-weight: 700;
  margin: 0;
}

.product-price {
  font-size: var(--fs-sm);
  font-weight: 400;
  margin: var(--sp-xs) 0;
}

.btn-group {
  display: flex;
  gap: var(--sp-sm);
  padding: var(--sp-sm);
  justify-content: center;
}

.btn {
  padding: var(--sp-sm) var(--sp-md);
  font-size: var(--fs-sm);
  font-weight: 600;
  text-align: center;
  border-radius: var(--br-sm);
  border: none;
  cursor: pointer;
  width: auto;
}

.btn-update {
  background-color: var(--color-warning);
  color: white;
  text-decoration: none;
}

.btn-update:hover {
  background-color: var(--color-warning-dark);
}

.btn-delete {
  background-color: var(--color-danger);
  color: white;
}

.btn-delete:hover {
  background-color: var(--color-danger-light);
}

/* Form Styles */
.product-form {
  background-color: var(--color-secondary);
  padding: var(--sp-lg);
  margin: auto;
  border-radius: var(--br-sm);
  width: 100%;
  max-width: 500px;
  box-shadow: 0 2px 10px rgba(255, 255, 255, 0.1);
}

.product-form fieldset {
  border: none;
}

.product-form legend {
  font-size: var(--fs-xl);
  font-weight: 700;
  margin-bottom: var(--sp-md);
}

.form-group {
  margin-bottom: var(--sp-md);
}

label {
  display: block;
  font-size: var(--fs-sm);
  margin-bottom: var(--sp-xs);
  font-weight: 600;
}

input {
  width: 100%;
  padding: var(--sp-sm);
  font-size: var(--fs-sm);
  border: 1px solid #ccc;
  border-radius: var(--br-sm);
  margin-bottom: var(--sp-sm);
}

input:focus {
  border-color: var(--color-secondary);
  outline: none;
}

.btn-submit {
  font-family: inherit;
  background-color: var(--color-quaternary);
  color: var(--color-primary);
}

.btn-submit:hover {
  background-color: var(--color-tertiary);
}
